body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  width: 100%;
  position: sticky;
  border-bottom: solid 0.5px #ccc;
  background: #cccccc;
}

header img {
  width: 5vw;
  margin: auto;
  height: 232%;
  margin-top: -12px;
}

nav a {
  text-decoration: none;
  color: #350098;
  padding: 1em 2em;
  border: solid 0.5px #ccc;
  transition: all .5s ease;
}
nav {
  display: inline-block;
  margin: auto;
  padding-right: 4vw;
  height: 100%;
  transition: all .3s ease;
}
nav a:hover {
  background: #E7E7E7;
  color: #03a9f4;
}
nav a:nth-child(5) {
  border-right: solid 0.5px #E7E7E7;
}
nav a:nth-child(1) {
  border-left: solid 0.5px #E7E7E7;
}
